.main
  = render "left"
  .center
    .portfolo
      .portfolio__title
        Portfolio
      .portfolio__body
        .portfolio__body__content1
          = image_tag "某フリマサイト.png", size:"450x300"
          .portfolio__body__content1__link
            = link_to "メルカリクローンサイト", "http://18.177.134.226/", class:"portfolio__body__content1__link__text"
            = link_to "GitHub", "https://github.com/yuevo16/freemarket_sample_66g-1", class:"portfolio__body__content1__link__text"
            .portfolio__body__content1__link__url
              .portfolio__body__content1__link__url__basic
                【Basic認証】
                %span{"class"=>"id"} ID:mercari
                %span{"class"=>"id"} pass:6666
              .portfolio__body__content1__link__url__pass
                【仮パスワード】
                %span{"class"=>"id"} email：sakuragi@sakuragi
                %span{"class"=>"id"} pass：sakuragi111
        .portfolio__body__content2
          = image_tag "EnglishParaphrase.png", size:"450x300"
          .portfolio__body__content2__link
            = link_to "English Paraphrase", "http://18.178.100.205/", class:"portfolio__body__content2__link__text"
            = link_to "GitHub", "https://github.com/yuevo16/EnglishParaphrase2", class:"portfolio__body__content2__link__text"
            .portfolio__body__content2__link__url
              .portfolio__body__content2__link__url__basic
                【仮パスワード】
                %span{"class"=>"id"} email：test@test
                %span{"class"=>"id"} pass：test111
  = render "right"